.above-the-fold-wrapper {
    height: 100vh;
    background-color: #FFFCF3;
    padding: 0px 100px 0px 100px;
    position: relative;
}

.above-the-fold-box {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
}

.above-the-fold-überschrift {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        font-size: 128px;
        margin: 0;
        color: #000000;
        line-height: 128px;
        letter-spacing: -3.2px;
        transform: scaleY(0.9);
        font-weight: 800;
    }
}

.margin-top-h3 {
    margin-top: 10% !important;
}

.above-the-fold-initialien {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.horizontal-line {
    width: 340px;
    height: 3px;
    background-color: black;
}

.initialien {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #06BC8F;
    transform: scaleY(0.9);
    white-space: nowrap;
}

.bottom-box-email-scrolldown {
    max-width: 1440px;
    margin: 0 auto;
}

.email-and-scroll-down-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 100px;
    margin: 0 auto;
    box-sizing: border-box;
}


.email-position-absolute {
    display: flex;
    position: absolute;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    left: 0;
    bottom: 0;
    padding-left: 100px;
    a {
        text-decoration: none;
        color: #000000;
        &:hover {
            color: #06BC8F;
            scale: (1.05);
            transition: all 0.3s ease;
        }
    }
}

.position-absolute-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 24px;
    right: 0;
    bottom: 0;
    padding-right: 100px;   
}

.scroll-down-position-absolute {
    position: relative;
    height: 80px; // Höhe der Div für den sichtbaren Bereich
    overflow: hidden; // Pfeil nur sichtbar, wenn innerhalb der Div
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  
    img {
        position: absolute;
        top: -21px;
        animation: arrowScroll 2.0s linear infinite;
        height: 160px;
        width: 96px;
    }
  }

  // Keyframes für die Animation
@keyframes arrowScroll {
    0% {
      transform: translateY(-100%); // Start über der Div, nicht sichtbar
    }
    50% {
      transform: translateY(0); // Mitte, voll sichtbar
    }
    100% {
      transform: translateY(100%); // Unten, wieder nicht sichtbar
    }
  }

.scroll-down-position-absolute-span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    span {
        line-height: 22px;
        font-size: 22px;
        transform: scaleY(0.9);
        letter-spacing: -0.5px;
        font-weight: 300;
    }
}

.bottom-box{
    display: flex;
    position: absolute;
    justify-content: space-between;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 100%;
    bottom: 5%;
}

/* Media Queries für die verschiedenen Breiten */

/* Für 1124px Breite */
@media (max-width: 1124px) {
    .above-the-fold-überschrift h3 {
        font-size: 91px;
        line-height: 91px;
    }
    .initialien {
        font-size: 34px;
        line-height: 34px;
    }
    .email-position-absolute {
        font-size: 16px;
        line-height: 16px;
    }
    .scroll-down-position-absolute-span span {
        font-size: 16px;
        line-height: 16px;
    }
}

/* Für 720px Breite */
@media (max-width: 770px) {
    .above-the-fold-überschrift h3 {
        font-size: 64px;
        line-height: 64px;
    }
    .initialien {
        font-size: 24px;
        line-height: 24px;
    }
    .horizontal-line {
        width: 282px;
    }
}

/* Für 620px Breite */
@media (max-width: 620px) {
    .above-the-fold-überschrift h3 {
        font-size: 55px;
        line-height: 55px;
    }
    .initialien {
        font-size: 21px;
        line-height: 21px;
    }
    .horizontal-line {
        width: 232px;
    }
}

/* Für 520px Breite */
@media (max-width: 520px) {
    .above-the-fold-überschrift h3 {
        font-size: 50px;
        line-height: 50px;
    }
    .horizontal-line {
        width: 192px;
    }
}

/* Für 420px Breite */
@media (max-width: 420px) {
    .above-the-fold-überschrift h3 {
        font-size: 42px;
        line-height: 42px;
    }
    .email-position-absolute {
        font-size: 14px;
        line-height: 14px;
    }
    .scroll-down-position-absolute-span span {
        font-size: 14px;
        line-height: 14px;
    }
    .horizontal-line {
        width: 138px;
    }
}

/* Für 370px Breite */
@media (max-width: 370px) {
    .above-the-fold-überschrift h3 {
        font-size: 37px;
        line-height: 37px;
    }
    .horizontal-line {
        width: 130px;
    }
}

/* Für 320px Breite */
@media (max-width: 320px) {
    .above-the-fold-überschrift h3 {
        font-size: 35px;
        line-height: 35px;
    }
    .horizontal-line {
        width: 110px;
    }
}

@media (max-width: 1024px) {
    .email-position-absolute{
        padding-left: 80px;
    }
    .position-absolute-right {
        padding-right: 80px;

    }
}
@media (max-width: 620px) {
    .email-position-absolute{
        padding-left: 60px;
    }
    .position-absolute-right {
        padding-right: 60px;
    }
}
@media (max-width: 420px) {
    .email-position-absolute{
        padding-left: 30px;
    }
    .position-absolute-right {
        padding-right: 30px;
    }
}
@media (max-width: 320px) {
    .email-position-absolute{
        padding-left: 25px;
        padding-bottom: 129px;
        rotate: 270deg;

    }
    .position-absolute-right {
        padding-right: 25px;
    }
}




