<div class="background-color">
    <div class="diagonal-background">
        <div class="wrapper">
            <a class="img-arrow-to-top" href="#top">
                <img src="assets/images/images_formular/7. arrow.png" alt="">
            </a>
            <div id="formular-section" class="box-headline">
                <h3 class="fontSyne">
                    Kontakt
                </h3>
            </div>
            <div class="box-formular-all">
                <div class="box-before-formular fontOverpass">
                    <p class="box-before-formular-headline-1">
                        Möchten Sie ein Projekt diskutieren?
                    </p>
                    <p class="box-before-formular-headline-2">
                        Schicken Sie mir eine Nachricht und lassen Sie uns das Projekt angehen!
                    </p>
                </div>
                <div class="formular-box">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="fontOverpass" action="">
                        <div class="box-input">
                            <img src="assets/images/images_formular/formular-error.png" alt="" [ngClass]="{
                                'img-visible': !name.valid && name.touched
                            }">
                            <img src="assets/images/images_formular/formular-valid.png" alt="" [ngClass]="{
                                'img-visible': name.valid && name.touched
                            }">
                            <input minlength="4" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                                (focus)="isNameFocused = true" (blur)="isNameFocused = false" required #name="ngModel">
                            <label for="name" [ngClass]="{
                                    'label-when-input-focus': isNameFocused || (contactData.name && contactData.name.length > 0),
                                    'label-when-no-input-focus': !isNameFocused && (!contactData.name || contactData.name.length === 0)
                            }">
                                Name
                            </label>
                            @if(!name.valid && name.touched){
                            <div class="alert">
                                @if(contactData.name.length <= 3) { <span>Bitte geben Sie Ihren Vor- und Nachnamen
                                    ein</span>
                                    }
                            </div>
                            }
                        </div>

                        <div class="box-input">
                            <img src="assets/images/images_formular/formular-error.png" alt="" [ngClass]="{
                                'img-visible': !email.valid && email.touched
                            }">
                            <img src="assets/images/images_formular/formular-valid.png" alt="" [ngClass]="{
                                'img-visible': email.valid && email.touched
                            }">
                            <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
                                (focus)="isEmailFocused = true" (blur)="isEmailFocused = false" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel">
                            <label for="email" [ngClass]="{
                                       'label-when-input-focus': isEmailFocused || contactData.email.length > 0,
                                       'label-when-no-input-focus': !isEmailFocused && contactData.email.length === 0
                                   }">
                                Email
                            </label>
                            @if(!email.valid && email.touched){
                            <div class="alert">
                                <span>Bitte geben Sie Ihre E-Mail-Adresse ein</span>
                            </div>
                            }
                        </div>

                        <div class="box-textarea">
                            <img src="assets/images/images_formular/formular-error.png" alt="" [ngClass]="{
                                'img-visible': !textarea.valid && textarea.touched
                            }">
                            <img src="assets/images/images_formular/formular-valid.png" alt="" [ngClass]="{
                                'img-visible': textarea.valid
                            }">
                            <textarea minlength="1" [(ngModel)]="contactData.message" name="message" id="message"
                                (focus)="isMessageFocused = true" (blur)="isMessageFocused = false" required
                                #textarea="ngModel"></textarea>
                            <label for="message" [ngClass]="{
                                       'label-when-input-focus': isMessageFocused || contactData.message.length > 0,
                                       'label-when-no-input-focus': !isMessageFocused && contactData.message.length === 0
                                   }">
                                Nachricht
                            </label>
                            @if(!textarea.valid && textarea.touched){
                            <div class="alert-textarea">
                                <span>Bitte geben Sie Ihre Nachricht ein</span>
                            </div>
                            }
                        </div>
                        <div class="box-for-privacy-submitbutton">
                            <div class="box-for-checkbox">
                                <label>
                                    <input #checkbox="ngModel" type="checkbox" [(ngModel)]="contactData.agreeTerms"
                                        name="agreeTerms" required>
                                    <span class="non-clickable">

                                        Ich habe die <a href="#">Datenschutzerklärung</a>
                                        gelesen und stimme der Verarbeitung
                                        meiner Daten zu
                                        wie beschrieben. <span [ngClass]="{'alert-text-checkbox-active': checkbox.valid}"
                                            class="alert-text-checkbox">
                                            Bitte akzeptieren Sie die Datenschutzerklärung</span>
                                    </span>
                                </label>
                            </div>

                            <input [ngClass]="{'submit-button-valid': contactForm.valid}"
                                class="submit-button fontOverpass" type="submit" value="Send message"
                                [disabled]="!contactData.agreeTerms">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>