.background-color {
    background-color: #FFFCF3;
    height: 100%;
}

.diagonal-background {
    background-color: black;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 101%);
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;

    &.visible {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}

.wrapper {
    padding: 0px 100px 0px 100px;
    position: relative;
    max-width: 1440px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-top: 10%;
    flex-direction: column;
    margin-bottom: -1px;

    .img-arrow-to-top {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 100px;
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth transition */

        &:hover {
            transform: translateY(-20px); /* Schiebt das Element nach oben */
        }
    }

    h3 {
        color: #FFFCF3;
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;

        &.visible {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.box-headline {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#formular-section {
    scroll-margin-top: 126px;
}

.box-formular-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}

.box-before-formular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    p {
        color: #FFFCF3;
        margin: 0;
    }

    .box-before-formular-headline-1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        color: #00BC8F;
    }

    .box-before-formular-headline-2 {
        font-size: 22px;
        line-height: 26.4px;
        white-space: nowrap;
    }
}

.formular-box {
    width: 617px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 38px;

    .box-input {
        width: 100%;
        color: #FFFCF3;
        position: relative;

        img {
            position: absolute;
            z-index: 0;
        }

        .img-visible {
            top: 50%;
            transform: translateY(-50%);
            right: 2%;
            z-index: 2;
        }

        input {
            height: 50px;
            width: 100%;
            color: #FFFCF3;
            line-height: 19.2px;
            font-size: 16px;
            background-color: black;
            border: none;
            position: relative;
            z-index: 1; // Ensure input is above background
            padding: 15px 25px 15px 25px;
            box-sizing: border-box;
            border-bottom: 2px solid white;

            &:focus {
                outline: 2px solid white;
                border-bottom: none;
            }
        }

        label {
            position: absolute;
            transition: all 0.3s ease;
        }

        .label-when-no-input-focus {
            top: 50%;
            /* Initially position the label in the middle of the input */
            left: 2%;
            z-index: 1;
            /* Ensure label is initially behind input */
        }

        .label-when-input-focus {
            top: -20%;
            left: 2%;
            background-color: black;
            z-index: 900;
            padding-left: 1%;
            padding-right: 1%;
            color: white;
        }
    }
}

.box-textarea {
    width: 100%;
    color: #FFFCF3;
    position: relative;
    display: flex;
    flex-direction: column;

    img {
        position: absolute;
        z-index: 0;
    }

    .img-visible {
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
        z-index: 2;
    }

    textarea {
        background-color: black;
        border: none;
        color: #FFFCF3;
        line-height: 19.2px;
        font-size: 16px;
        padding: 15px 25px 0px 25px;
        box-sizing: border-box;
        border-bottom: 2px solid white;
        z-index: 1;

        &:focus {
            outline: 2px solid white;
            border-bottom: none;
        }
    }

    label {
        position: absolute;
        transition: all 0.3s ease; // Smooth transition
    }

    .label-when-no-input-focus {
        top: 50%; // Initially position the label in the middle of the input
        left: 2%;
        z-index: 1; // Ensure label is initially behind input
    }

    .label-when-input-focus {
        top: -20%;
        left: 2%;
        background-color: black;
        z-index: 900;
        padding-left: 1%;
        padding-right: 1%;
        color: white;
    }
}

.alert {
    display: flex;
    margin-top: 1%;
    color: #e61c40;

    span {
        position: absolute;
    }
}

.alert-textarea {
    display: flex;
    margin-top: 1%;
    color: #e61c40;

    span {
        position: absolute;
    }
}

.box-for-privacy-submitbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;

    .box-for-checkbox {
        display: flex;
        position: relative;

        .alert-text-checkbox {
            color: #e61c40;
        }
    }

    .alert-text-checkbox-active {
        color: white !important;
    }

    .non-clickable {
        color: white;
        margin-left: 30px;

        a {
            color: #00BC8F;
            text-decoration: none;
            width: 120px;
            pointer-events: auto;
            /* Aktiviert die Zeigerereignisse nur für den Link */

            &:hover {
                color: #00bc90d1;
            }
        }
    }

    label {
        display: flex;
        cursor: pointer;
        pointer-events: none;
        /* Deaktiviert die Zeigerereignisse */


        input[type="checkbox"] {
            margin: 0;
            margin-right: 10px;
            width: 17px;
            height: 16px;
            background-color: black;
            border: 2px solid white;
            appearance: none;
            cursor: pointer;
            pointer-events: auto;
            position: absolute;
            top: 3px;


            &:checked {
                background-color: black;
                border-color: white;
            }

            &:checked::before {
                content: '';
                display: block;
                width: 3px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(40deg);
                position: relative;
                left: 4px;
                top: 0px;
                z-index: 3;

            }
        }
    }

    .submit-button {
        border: 4px solid #BBBBBB;
        padding: 20px 60px 20px 60px;
        background-color: black;
        color: #BBBBBB;
        font-size: 23px;
        cursor: pointer;
        transition: padding 300ms ease;
    }

    .submit-button-valid {
        color: white;
        border: 4px solid white;
        padding: 20px 80px 20px 80px;
    }
}

.feedback-message {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Overpass';
    transition: opacity 0.5s ease;

    &.success {
        background-color: black;
        color: #00BC8F;
    }

    &.error {
        background-color: black;
        color: #e61c40;
    }
}


@media (max-width: 1024px) {
    .wrapper {
        padding: 0px 80px;
    }

    .img-arrow-to-top {
        padding-right: 80px;
    }

    .diagonal-background {
        clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 101%);
    }
}

@media (max-width: 900px) {
    .box-headline {
        h3 {
            font-size: 64px;
        }
    }

    .img-arrow-to-top {
        display: none;
    }

    .box-before-formular {
        .box-before-formular-headline-1 {
            font-size: 28px;
        }

        .box-before-formular-headline-2 {
            font-size: 18px;
        }
    }

    .formular-box {
        width: 85%;
    }
}

@media (max-width: 750px) {
    .box-headline {
        h3 {
            font-size: 44px;
        }
    }

    .box-before-formular {
        .box-before-formular-headline-1 {
            font-size: 24px;
            text-align: center;
        }

        .box-before-formular-headline-2 {
            text-align: center;
            white-space: normal;
        }
    }

    .box-for-privacy-submitbutton {
        .box-for-checkbox {
            font-size: 14px;
        }
    }
}

@media (max-width: 620px) {
    .wrapper {
        padding: 0px 60px;
    }

    .box-headline {
        h3 {
            font-size: 34px;
            margin-top: 20%;
        }
    }

    .box-before-formular {
        .box-before-formular-headline-1 {
            font-size: 22px;
        }

        .box-before-formular-headline-2 {
            text-align: center;
            white-space: normal;
            font-size: 16px;
        }
    }
}

@media (max-width: 520px) {
    .wrapper {
        padding: 0px 50px;
    }

    .box-for-privacy-submitbutton {
        .box-for-checkbox {
            font-size: 12px;
        }
        .submit-button {
            padding: 10px 40px 10px 40px;
            font-size: 18px;
        }
    }
    form {
        .box-input {
            input {
                font-size: 14px;
            }
            img {
                width: 16px;
            }
        }
        .box-textarea {
            img {
                width: 16px;
            }
        }
    }
    .alert {
        span {
            font-size: 12px;
        }
    }
}

@media (max-width: 420px) {
    .wrapper {
        padding: 0px 40px;
    }

    .box-headline {
        h3 {
            font-size: 34px;
            margin-top: 30%;
        }
    }
}

@media (max-width: 370px) {
    .wrapper {
        padding: 0px 30px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        padding: 0px 25px;
    }
}