<div class="background-color">
    <div class="diagonal-background">
        <div class="wrapper">
                <div class="box-headline">
                    <h3 class="fontSyne">
                        Say Hi !
                    </h3>
                </div>
            <div class="box-before-formular fontOverpass">
                <p class="box-before-formular-headline-1">
                    Want to discuss a new project?
                </p>
                <p class="box-before-formular-headline-2">
                    Say hello! let's discuss your ideas and make it happen
                </p>
            </div>
        </div>
    </div>
</div>

