<div id="aboutme" class="background-div">
    <div #backgroundDiv class="about-me-wrapper">
        <h3  #aboutMeSectionHeader  class="fontSyne">
            {{ translations.aboutMeHeader }}
        </h3>
        <div #aboutMeBox  class="about-me-box">
            <div class="about-me-box-left">
                <p class="fontOverpass">
                    {{ translations.aboutMeText1 }}
                </p>
                <p class="fontOverpass">
                    {{ translations.aboutMeText2 }}
                </p>
                <div class="about-me-left-big-box-bottom">
                    <div class="about-me-left-box-bottom fontOverpass">
                        <img src="assets/images/images_about_me/house.png" alt="">
                        <p>
                            {{ translations.location }}
                        </p>
                    </div>
                    <div class="about-me-left-box-bottom fontOverpass">
                        <img src="assets/images/images_about_me/laptop_chromebook.png" alt="">
                        <p>
                            {{ translations.remoteWork }}
                        </p>
                    </div>
                </div>
                <div class="about-me-button-box">
                    <a href="#formular-section" class="fontOverpass">
                        {{ translations.contactlink }}
                    </a>
                </div>
            </div>
            <div class="about-me-box-right">
                <img src="assets/images/images_about_me/imgmax2.jpg" alt="">
            </div>
        </div>
        <div #aboutMeSection class="about-me-box-finish">
            <img src="assets/images/images_about_me/arrowbottom.png" alt="">
        </div>
    </div>
</div>
