<div id="aboutme" class="background-div">
    <div class="about-me-wrapper">
        <h3 class="fontSyne">
            Über mich
        </h3>
        <div class="about-me-box">
            <div class="about-me-box-left">
                <p class="fontOverpass">
                    Ich bin ein Frontend-Entwickler aus Bad Bibra, Deutschland. Ich helfe Designern und Unternehmen dabei, ihre Ideen in die Realität umzusetzen. Kreativität und logisches Denken sind Fähigkeiten, die ich entwickelt habe, um Ideen in Qualitätsprodukte umzusetzen.                </p>
                <p class="fontOverpass">
                    Wenn Sie glauben, dass ich gut zu Ihren Projekten passen würde, kontaktieren Sie mich!
                </p>
                <div class="about-me-left-big-box-bottom">
                    <div class="about-me-left-box-bottom">
                        <img src="assets/images/images_about_me/house.png" alt="">
                        <p>
                            Wohnhaft in Bad Bibra
                        </p>
                    </div>
                    <div class="about-me-left-box-bottom">
                        <img src="assets/images/images_about_me/laptop_chromebook.png" alt="">
                        <p>
                            Offen für Remote-Arbeit
                        </p>
                    </div>
                </div>
                <div class="about-me-button-box">
                    <a href="#formular-section" class="fontOverpass">
                        Kontakt
                    </a>
                </div>
               
            </div>
            <div class="about-me-box-right">
                <img src="assets/images/images_about_me/Mask group.png" alt="">
            </div>
        </div>
        <div #aboutMeBox class="about-me-box-finish">
            <img src="assets/images/images_about_me/arrowbottom.png" alt="">
        </div>
        
    </div>
</div>