.background-div {
    background-color: #FFFCF3;
}

#aboutme {
    scroll-margin-top: 126px;
    /* Passe den Wert an, je nach Höhe deines Headers */
}

.about-me-wrapper {
    padding: 0px 100px;
    max-width: 1440px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;

    &.visible {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    h3 {
        margin: 0;
        padding-top: 10% !important;
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
        letter-spacing: -0.78px;
        color: #000000;
        padding-bottom: 48px;
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;

        &.visible {
            opacity: 1;
            transform: scale(1);
        }

        &:hover {
            color: #06BC8F;
        }
    }
}

.about-me-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}

.about-me-box-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-weight: 400;
        font-size: 22px;
        line-height: 26.4px;
        margin: 0;
    }
}

.about-me-left-big-box-bottom {
    display: flex;
    gap: 6px;
    flex-direction: column;
    padding-bottom: 48px;
}

.about-me-left-box-bottom {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
        width: 36px;
    }
}


.about-me-box-right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

    img {
        width: 90%;
        height: auto;
        object-fit: contain;
    }
}

.about-me-button-box {
    display: flex;
    justify-content: center;

    a {
        border: 3px solid #000000;
        background-color: #FFFCF3;
        font-size: 23px;
        line-height: 27.6px;
        color: #000000;
        cursor: pointer;
        padding: 15px 50px 15px 50px;
        transition: padding 0.5s ease;
        text-decoration: none;

        &:hover {
            font-weight: 600;
            border: 4px solid #000000;
            padding: 15px 70px 15px 70px;
        }
    }
}

.about-me-box-finish {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* Stelle sicher, dass die Position relativ ist, um die Animation korrekt auszuführen */
    padding-bottom: 8%;

    img {
        position: relative;
        transition: transform 1s ease-out;
        /* Transition auf das img setzen */
        transform: translate(0, 0);
        /* Standardzustand */
        transition-delay: 0.3s;
        /* Verzögerung der Transition um 1 Sekunde */
        z-index: 997;
        width: 24%;

    }

    &.visible img {
        transform: translate(-50px, 50px);
        /* Bewegung um 100px nach links und unten */
    }
}

@media (max-width: 1024px) {
    .about-me-wrapper {
        padding: 0px 80px;
    }

    .about-me-box-finish {
        padding-bottom: 20%;
    }
}

@media (max-width: 900px) {
    .about-me-wrapper {
        padding: 0px 80px;

        h3 {
            font-size: 64px;
            text-align: center;
        }
    }

    .about-me-box {
        flex-direction: column;
        padding-bottom: 0px;
        align-items: center;
    }

    .about-me-box-left {
        gap: 30px;
        width: 100%;
    }

    .about-me-button-box {
        padding-bottom: 40px;
    }

    .about-me-box-right {
        justify-content: center;
        width: 100%;

        img {
            width: 75%;
        }
    }
}

@media (max-width: 620px) {
    .about-me-wrapper {
        h3 {
            font-size: 44px;
        }
    }

    .about-me-wrapper {
        padding: 0px 60px;
    }
}

@media (max-width: 480px) {
    .about-me-box-finish {
        padding-bottom: 25%;
    }
}

@media (max-width: 420px) {
    .about-me-box-finish {
        padding-bottom: 28%;
    }
}

@media (max-width: 420px) {
    .about-me-wrapper {
        padding: 0px 40px;
    }
}


@media (max-width: 370px) {
    .about-me-wrapper {
        padding: 0px 30px;
    }
}

@media (max-width: 350px) {
    .about-me-box-finish {
        padding-bottom: 31%;
    }
}


@media (max-width: 320px) {
    .about-me-wrapper {
        padding: 0px 25px;
    }
}