<div class="background-color">
    <div class="wrapper">
        <h1 class="fontSyne">{{ translations?.impressum?.headline }}</h1>
    
        <p class="fontOverpass" [innerHTML]="translations?.impressum?.address"></p>
    
        <h2 class="fontSyne">{{ translations?.impressum?.contact?.headline }}</h2>
        <p class="fontOverpass">{{ translations?.impressum?.contact?.phone }}<br />
            {{ translations?.impressum?.contact?.email }}</p>
    
        <h2 class="fontSyne">{{ translations?.impressum?.editorial_responsibility?.headline }}</h2>
        <p class="fontOverpass">{{ translations?.impressum?.editorial_responsibility?.name }}</p>
    
        <p class="fontOverpass">{{ translations?.impressum?.source?.text }}
            <a href="https://www.e-recht24.de">{{ translations?.impressum?.source?.link }}</a>
        </p>
    
        <h1 class="fontSyne">{{ translations?.impressum?.privacy_policy?.headline }}</h1>
    
        <h2 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.title }}</h2>
        <h3 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.general_info?.headline }}</h3> 
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.general_info?.text }}</p>
    
        <h3 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.headline }}</h3>
        <h4 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.responsible?.headline }}</h4> 
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.responsible?.text }}</p>
    
        <h4 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.data_how?.headline }}</h4> 
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.data_how?.text[0] }}</p>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.data_how?.text[1] }}</p>
    
        <h4 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.data_why?.headline }}</h4>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.data_why?.text }}</p>
    
        <h4 class="fontSyne">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.rights?.headline }}</h4>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.section1?.data_collection?.rights?.text }}</p>
    
        <h2 class="fontSyne">{{ translations?.impressum?.privacy_policy?.hosting?.headline }}</h2>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.hosting?.text }}</p>
    
        <h2 class="fontSyne">{{ translations?.impressum?.privacy_policy?.images_usage?.headline }}</h2>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.images_usage?.text }}</p>
    
        <h2 class="fontSyne">{{ translations?.impressum?.privacy_policy?.additional_notes?.headline }}</h2>
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.additional_notes?.text }}</p>
    
        <h3 class="fontSyne">{{ translations?.impressum?.privacy_policy?.hosting_provider?.headline }}</h3> 
        <p class="fontOverpass">{{ translations?.impressum?.privacy_policy?.hosting_provider?.text }}
            <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.
        </p>
    </div>    
</div>
