.background-color {
    background-color: #FFFCF3;
}

#portfolio-section {
    scroll-margin-top: 126px;
    /* Passe den Wert an, je nach Höhe deines Headers */
}

.wrapper {
    padding: 0px 100px 0px 100px;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .description-portfolio {
        text-align: center;
    }

    h3 {
        font-size: 78px;
        line-height: 78px;
        font-weight: 800;
        color: #000000;
    }

    span {
        font-size: 22px;
        line-height: 26.4px;
        color: #000000;
    }
}

.project-box {
    display: flex;
    width: 100%;
    margin-top: 5%;
    position: relative;
    justify-content: space-between;
    align-items: center;

    &.reverse {
        flex-direction: row-reverse;

        .text-align-end {
            text-align: start;
        }

        .arrow-image {
            width: 15%;
            position: absolute;
            left: -10%;
            bottom: 29%;
            z-index: 997;
            opacity: 0;
            transition: transform 400ms ease; // Übergangseffekte für Sichtbarkeit und Rotation
        }

        // Für die umgekehrte Box
        &:hover .img-border::before {
            border-color: black;
            transform: translate(-3%, 6%); // Verschieben in die entgegengesetzte Richtung
            z-index: 997;
        }
    }

    .arrow-image {
        width: 15%;
        position: absolute;
        right: -10%;
        bottom: 29%;
        z-index: 997;
        opacity: 0;
        transition: transform 400ms ease; // Übergangseffekte für Sichtbarkeit und Rotation
    }

    &:hover .arrow-image {
        opacity: 1; // Bild beim Hover sichtbar machen
        transform: rotate(-135deg) scale(1.2); // Bild um -135 Grad drehen (nach rechts oben)
    }

    img {
        width: 100%;
        filter: grayscale(100%); // Standard: Bild ist schwarz-weiß
        transition: filter 300ms ease; // Übergang bei Filteränderung
    }

    // Hover-Effekt auf das Bild anwenden
    &:hover img {
        filter: grayscale(0); // Beim Hover wird das Bild wieder farbig
    }

    &:hover .project-box-right-box-bottom {
        opacity: 1; // Macht die rechte Box vollständig sichtbar
    }

    .img-border {
        position: relative;
        width: 40%;
        height: 100%;
        transition: border 300ms ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid transparent; // Unsichtbare Border, um den Platz zu reservieren
            pointer-events: none;
        }
    }

    // Verschieben und Border-Farbe ändern beim Hover
    &:hover .img-border::before {
        border-color: black; // Border-Farbe beim Hover
        transform: translate(3%, 6%); // Leichtes Verschieben nach rechts und unten
        z-index: 997;
    }

    span {
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
        color: #000000;
    }
}


.text-align-end {
    text-align: end;
}

.project-box-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: space-around;
}

.project-box-right-box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    opacity: 0; // Standardmäßig unsichtbar
    transform: translateX(-32%); // Startposition: 50px nach links verschoben
    transition: opacity 600ms ease, transform 600ms ease; // Übergang für Opacity und Position


    h3 {
        font-size: 42px;
        line-height: 54px;
        margin: 0;
    }

    h4 {
        font-size: 23px;
        line-height: 27.6px;
        color: #00BC8F;
        white-space: nowrap;
        margin: 0;
        white-space: nowrap;
    }

    p {
        margin: 0;
        text-align: left;
        color: #000000;
    }
}

// Beim Hover auf das übergeordnete Element die Animation auslösen
.project-box:hover .project-box-right-box-bottom {
    opacity: 1; // Sichtbar machen
    transform: translateX(0); // Zur Standardposition zurückkehren (kein Offset mehr)
}

.project-box-right-box-bottom-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: #000000;
        font-size: 22px;
        border: 4px solid black;
        width: 30%;
        padding: 2% 0% 2% 0%;
        text-align: center;
        transition: width 300ms ease;

        &:hover {
            width: 35%;
            font-weight: 500;
        }
    }
}

.about-me-box-finish {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* Stelle sicher, dass die Position relativ ist, um die Animation korrekt auszuführen */
    width: 100%;

    img {
        position: relative;
        transition: transform 1s ease-out;
        /* Transition auf das img setzen */
        transform: translate(0, 0);
        /* Standardzustand */
        transition-delay: 0.3s;
        /* Verzögerung der Transition um 1 Sekunde */
        z-index: 997;
        width: 24%;

    }

    &.visible img {
        transform: translate(-50px, 50px);
        /* Bewegung um 100px nach links und unten */
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 0px 80px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        h3 {
            font-size: 64px;
        }
    }

    .project-box-right-box-bottom {
        h3 {
            font-size: 42px;
            text-align: left;
        }
    }
}

@media (max-width: 850px) {
    .project-box-right {
        span {
            font-size: 42px;
        }
    }

    .project-box-right-box-bottom {
        h3 {
            font-size: 38px;
        }

        h4 {
            font-size: 20px;
        }
    }

    .project-box-right-box-bottom-links {
        a {
            font-size: 20px;
        }
    }
}

@media (max-width: 750px) {
    .wrapper {
        span {
            text-align: center;
        }
    }

    .project-box {
        flex-direction: column !important;
        align-items: center;
        gap: 24px;

        &.reverse {
            .img-border {
                width: 80%;
            }
    
            .project-box-right {
                width: 80%;
                span {
                    text-align: right;
                }
            }
        }

        .img-border {
            width: 80%;
        }

        .project-box-right {
            width: 80%;
            span {
                text-align: left;
            }
        }
    }

}

@media (max-width: 620px) {
    .wrapper {
        h3 {
            font-size: 44px;
        }
    }
    .project-box-right-box-bottom {
        h3 {
            font-size: 38px;
        }
    }
    .wrapper {
        padding: 0px 60px;
    }
}

@media (max-width: 520px) {
    .wrapper {
        padding: 0px 50px;
    }
    .project-box-right {
        span {
            font-size: 36px;
        }
    }
    .project-box-right-box-bottom {
        h3 {
            font-size: 36px;
        }
        h4 {
            font-size: 18px;
        }
    }
    .project-box {
        &.reverse {
            .img-border {
                width: 90%;
            }
    
            .project-box-right {
                width: 90%;
            }
        }
        .img-border {
            width: 90%;
        }
        .project-box-right {
            width: 90%;
        }
    }
    .project-box-right-box-bottom-links {
        a {
            font-size: 16px;
            white-space: nowrap;
        }
    }
}

@media (max-width: 420px) {
    .wrapper {
        padding: 0px 40px;
    }
}

@media (max-width: 370px) {
    .wrapper {
        padding: 0px 30px;
    }
    .project-box-right-box-bottom {
        h3 {
            font-size: 34px;
        }
        h4 {
            font-size: 16px;
        }
    }
}
@media (max-width: 320px) {
    .wrapper {
        padding: 0px 25px;
    }
}