<div class="background-color">
    <div class="wrapper">
        <h3 class="fontSyne">
            Portfolio
        </h3>
        <span class="fontOverpass">
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </span>
        <div class="project-box">
                <img src="assets/images/images_portfolio/join.png" alt="">
                <div class="project-box-right">
                    <span class="fontSyne text-align-end">
                        01/04
                    </span>
                    <div class="project-box-right-box-bottom">
                        <h3 class="fontSyne">
                            Join
                        </h3>
                        <h4 class="fontOverpass">
                            HTML | CSS | JavaScript | Firebase
                        </h4>
                        <p class="fontOverpass">
                            Task Manager inspired by the Kanban System. Create and organize tasks during drag and drop functions, assign users and categories.
                        </p>
                        <button>
                            Github
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>
