<div id="portfolio-section" class="background-color">
    <div class="wrapper">
        <h3 class="fontSyne">
            Portfolio
        </h3>
        <span class="fontOverpass">
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </span>
        @for (project of projects; track project; let i = $index) {
            <div class="project-box" [ngClass]="{'reverse': i % 2 !== 0}">
                <div class="img-border">
                    <img src="{{project.imgSrc}}" alt="">
                    <img class="arrow-image" src="assets/images/images_portfolio/arrow-portfolio.png" alt="">
                </div>
                    <div class="project-box-right">
                        <span class="fontSyne text-align-end">
                            {{project.id}}
                        </span>
                        <div class="project-box-right-box-bottom">
                            <h3 class="fontSyne">
                                {{project.title}}
                            </h3>
                            <h4 class="fontOverpass">
                                {{project.technologies}}
                            </h4>
                            <p class="fontOverpass">
                                {{project.description}}
                            </p>
                            <div class="project-box-right-box-bottom-links fontOverpass">
                                <a href="{{project.githubLink}}">
                                    Github
                                </a>
                                <a href="{{project.liveTestLink}}">
                                    Live Test
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        }
        <div #aboutMeBox class="about-me-box-finish">
            <img src="assets/images/images_about_me/arrowbottom.png" alt="">
        </div>
    </div>
</div>
