.wrapper {
    background-color: #FFFCF3;
    padding: 0px 100px 0px 100px;
    position: relative;
    padding-top: 120px;
}

.border-black {
    height: 100%;
    width: 100%;
    border: 3px solid black;
    margin-bottom: 100px;
    position: relative;

    h3 {
        position: absolute;
        top: -8%;
        left: 50%;
        z-index: 999;
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
        margin: 0;
        transform: translateX(-50%);
        background-color: #FFFCF3;
        padding: 0px 10% 0px 10%;
        letter-spacing: -0.78px;
        white-space: nowrap;

        &:hover {
            color: #06BC8F;
        }
    }
}

.middle-box {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    gap: 128px;
    padding: 0px 30px 0px 30px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
    cursor: pointer;
    &:hover{
        span {
            color: #06BC8F;
        }
        img{
            animation: pulse 0.8s infinite alternate;
        };
    }

    img {
        height: 75px;
        width: 70px;
        transition: transform 200ms ease-in-out;

    }

    span {
        color: #000000;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15); // Leicht vergrößern und zurück
    }
}

.bottom-box {
    display: flex;
    justify-content: center;
    padding: 5% 0% 10% 0%;
}

.bottom-box-text {
    display: flex;
    align-items: flex-end;

    img {
        height: 75px;
        width: 70px;
    }

    span {
        font-weight: 400;
        font-size: 22px;
        line-height: 26.4px;
        color: #000000;
    }

    button {
        position: relative;
        border: none;
        text-decoration: none;
        background-color: #FFFCF3;
        color: #00BC8F;
        font-size: 22px;
        line-height: 26.4px;
        height: 30px; // Feste Höhe für den Button
        width: 150px; // Feste Breite für den Button
        cursor: pointer;
        transition: font-weight 100ms ease-in;

        // Keyframe-Animationen definieren
        @keyframes underlineEffect {
            0% {
                transform: scaleX(0); // Linie ist unsichtbar
                transform-origin: left; // Startet von links
            }
            25% {
                transform: scaleX(0.5); // Linie wächst bis zur Hälfte
                transform-origin: left;
            }
            100% {
                transform: scaleX(0.5); // Linie wächst von der Mitte bis zum Ende
                transform-origin: right;
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #00BC8F;
            transform: scaleX(0); // Anfangs unsichtbar
            transform-origin: left;
        }

        &:hover {
            font-weight: 600;

            &::before {
                animation: underlineEffect 200ms ease-out forwards; // Animation mit Keyframes
            }
        }
    }
}

.about-me-box-finish {
    display: flex;
    justify-content: flex-start;
    position: relative; /* Stelle sicher, dass die Position relativ ist, um die Animation korrekt auszuführen */
    padding-bottom: 8%;
    
    img {
        position: relative;
        transition: transform 1s ease-out; /* Transition auf das img setzen */
        transform: translate(0, 0); /* Standardzustand */
        transition-delay: 0.3s; /* Verzögerung der Transition um 1 Sekunde */
        z-index: 999;
        width: 24%;
        rotate: 270deg;

    }

    &.visible img {
        transform: translate(-50px, 50px); /* Bewegung um 100px nach links und unten */
    }
}