<div id="skills-section" class="background-color">
    <div class="wrapper">
        <div class="border-black">
            <h3 class="fontSyne">
                Meine Skills
            </h3>
            <div class="middle-box">
                @for (item of skillsList; track item.name; let index = $index) {
                <div class="skill-box">
                    <img src="{{item.img}}" alt="">
                    <span class="fontOverpass">{{item.name}}</span>
                </div>
                }
            </div>
            <div class="bottom-box">
                <img src="assets/images/images_my_skills/logo-learning.png" alt="">
                <div class="bottom-box-text">
                    <span class="fontOverpass">
                        Sie finden die gewünschte Fähigkeit nicht?
                    </span>
                    <a href="#formular-section" class="fontOverpass">
                        Kontakt
                    </a>
                    <span class="fontOverpass">
                        Ich bin immer bereit zu lernen!
                    </span>
                </div>
            </div>
        </div>
        <div #aboutMeBox class="about-me-box-finish">
            <img src="assets/images/images_about_me/arrowbottom.png" alt="">
        </div>
    </div>
</div>