<div id="skills-section" class="background-color">
    <div #wrapper class="wrapper">
        <div class="border-black">
            <h3 #headline class="fontSyne">
                {{ translations.skillsSection.headline }}
            </h3>
            <div #middlebox class="middle-box">
                <div class="skill-box" *ngFor="let item of skillsList">
                    <img [src]="item.img" alt="">
                    <span class="fontOverpass">{{ item.name }}</span>
                </div>
            </div>
            <div class="bottom-box">
                <img src="assets/images/images_my_skills/logo-learning.png" alt="">
                <div class="bottom-box-text">
                    <span class="fontOverpass">
                        {{ translations.skillsSection.notFoundText }}
                    </span>
                    <a href="#formular-section" class="fontOverpass">
                        {{ translations.skillsSection.contactLinkText }}
                    </a>
                    <span class="fontOverpass">
                        {{ translations.skillsSection.learningText }}
                    </span>
                </div>
            </div>
        </div>
        <div #aboutMeBox class="about-me-box-finish">
            <img src="assets/images/images_about_me/arrowbottom.png" alt="">
        </div>
    </div>
</div>