.background-color {
    background-color: #FFFCF3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#skills-section {
    scroll-margin-top: 166px;
}

.wrapper {
    padding: 0px 100px 0px 100px;
    position: relative;
    padding-top: 120px;
    max-width: 1440px;
}

.border-black {
    height: 100%;
    width: 100%;
    border: 3px solid black;
    margin-bottom: 10%;
    position: relative;

    h3 {
        position: absolute;
        top: -8%;
        left: 50%;
        z-index: 997;
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
        margin: 0;
        transform: translateX(-50%);
        background-color: #FFFCF3;
        padding: 0px 10% 0px 10%;
        letter-spacing: -0.78px;
        white-space: nowrap;

        &:hover {
            color: #06BC8F;
        }
    }
}

.middle-box {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    gap: 128px;
    padding: 0px 30px 0px 30px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
    cursor: pointer;

    &:hover {
        span {
            color: #06BC8F;
        }

        img {
            animation: pulse 1.2s infinite alternate;
        }

        ;
    }

    img {
        height: 75px;
        width: 70px;
        transition: transform 200ms ease-in-out;

    }

    span {
        color: #000000;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15); // Leicht vergrößern und zurück
    }
}

.bottom-box {
    display: flex;
    justify-content: center;
    padding: 5% 0% 10% 0%;
}

.bottom-box-text {
    display: flex;
    align-items: flex-end;

    img {
        height: 75px;
        width: 70px;
    }

    span {
        font-weight: 400;
        font-size: 22px;
        line-height: 26.4px;
        color: #000000;
        text-align: left;
        width: 100%;
    }

    a {
        position: relative;
        border: none;
        text-decoration: none;
        background-color: #FFFCF3;
        color: #00BC8F;
        font-size: 22px;
        line-height: 26.4px;
        width: 76px; // Feste Breite für den Button
        cursor: pointer;
        transition: font-weight 100ms ease-in;
        white-space: nowrap;
        text-align: left;
        width: 100%;

        // Keyframe-Animationen definieren
        @keyframes underlineEffect {
            0% {
                transform: scaleX(0); // Linie ist unsichtbar
                transform-origin: left; // Startet von links
            }

            25% {
                transform: scaleX(0.5); // Linie wächst bis zur Hälfte
                transform-origin: left;
            }

            100% {
                transform: scaleX(0.5); // Linie wächst von der Mitte bis zum Ende
                transform-origin: right;
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 2px;
            background: #00BC8F;
            transform: scaleX(0); // Anfangs unsichtbar
            transform-origin: left;
        }

        &:hover {
            font-weight: 600;

            &::before {
                animation: underlineEffect 200ms ease-out forwards;
            }
        }
    }
}

.about-me-box-finish {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 8%;

    img {
        position: relative;
        transition: transform 1s ease-out;
        transform: translate(0, 0);
        transition-delay: 0.3s;
        z-index: 997;
        width: 24%;
        rotate: 270deg;

    }

    &.visible img {
        transform: translate(-50px, 50px);
        /* Bewegung um 100px nach links und unten */
    }
}

@media (max-width: 1200px) {
    .border-black {
        h3 {
            font-size: 64px;
            padding: 0px 5% 0px 5%;
        }
    }

    .middle-box {
        gap: 58px;
    }

    .bottom-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 0% 5% 0%;
        gap: 24px;
    }

    .bottom-box-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 0px 80px;
    }
}

@media (max-width: 900px) {
    .border-black {
        h3 {
            font-size: 54px;
            padding: 0px 5% 0px 5%;
        }
    }
}

@media (max-width: 800px) {
    .border-black {
        h3 {
            font-size: 48px;
            padding: 0px 5% 0px 5%;
            top: -5%;
        }
    }

    .bottom-box-text {
        a {
            font-size: 18px;
        }

        span {
            font-size: 18px;
        }
    }

    .skill-box {
        img {
            height: 52px;
            width: auto;
        }
    }

    .middle-box {
        margin-top: 15%;
        padding: 0px;
    }
}

@media (max-width: 700px) {
    .border-black {
        h3 {
            font-size: 36px;
            padding: 0px 5% 0px 5%;
            top: -5%;
        }
    }

    .bottom-box {
        img {
            width: 15%;
        }
    }
}

@media (max-width: 620px) {
    .wrapper {
        padding: 0px 60px;
    }

    .border-black {
        h3 {
            font-size: 36px;
            padding: 0px 5% 0px 5%;
            top: -7%;
        }
    }

    .bottom-box {
        gap: 12px;
    }

    .middle-box {
        gap: 40px;
    }

    .skill-box {
        img {
            height: 45px;
            width: auto;
        }
    }

    .bottom-box-text {

        span {
            font-size: 16px;
            width: 100%;
            text-align: left;
        }

        a{
            font-size: 16px;
            width: 100%;
            text-align: left;
        }
    }
}

@media (max-width: 520px) {
    .wrapper {
        padding: 0px 50px;
    }

    .middle-box {
        gap: 30px;
    }

    .skill-box {
        img {
            height: 45px;
            width: auto;
        }
        span {
            font-weight: 600;
        }
    }

    .border-black {
        h3 {
            font-size: 32px;
            padding: 0px 5% 0px 5%;
            top: -7%;
        }
    }

    .bottom-box-text {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .border-black {
        h3 {
            font-size: 28px;
            padding: 0px 5% 0px 5%;
            top: -6%;
        }
    }
}

@media (max-width: 420px) {
    .wrapper {
        padding: 0px 40px;
    }

    .border-black {
        h3 {
            font-size: 24px;
            padding: 0px 5% 0px 5%;
            top: -6%;
        }
    }
}

@media (max-width: 380px) {
    .bottom-box-text {
        width: 85%;
    }

    .bottom-box {
        img {
            width: 17%;
        }
    }
}

@media (max-width: 370px) {
    .wrapper {
        padding: 0px 30px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        padding: 0px 25px;
    }
}