    <footer class="fontOverpass">
        <span>
            © Maximilian Bendel 2024
        </span>
        <div class="social-links-box">
            <div class="social-links">
                <a href="https://github.com/MaximilianBendel" target="_blank">
                    <img src="assets/images/images_footer/github-button.png" alt="">
                </a>
                <a href="mailto:max.bendel1996@gmail.com">
                    <img src="assets/images/images_footer/email-button.png" alt="">
                </a>
                <a href="" target="_blank">
                    <img src="assets/images/images_footer/linkedin-button.png" alt="">
                </a>
            </div>
            <div class="privacy-link">
                <a href="legalnotice">Legal Notice</a>
            </div>
        </div>
    </footer>
